pydantic==1.10
fastapi
uvicorn
dependency-injector
aiohttp
gunicorn
pytest
httpx
PyYAML
sqlalchemy
pytest-cov
python-dotenv
psycopg2-binary
pytz
pydantic
boto3
Jinja2
pdfkit
sendgrid
firebase-admin
requests==2.27.1
apscheduler
PyJWT
python-multipart